<div class="footer-container d-flex align-items-center">
    <span>© Baerg & Sons. Design: HTML5UP.</span>
    <span id="footer-location-text">Located on Fibber Island</span>
    <div class="d-flex">
      <div class="footer-link">
        <a href="mailto:dev@baerg.ca"><img src="/public/images/at.png"></a>
      </div>
    </div>
  </div>
  
  <%- include('./listener_script'); %>
  <script>
    if (window.history.replaceState) {
      window.history.replaceState( null, null, window.location.href );
    }
  </script>
  